<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>classmaterial</title>
</head>
<body>
    <h1 >학습자료 공유</h1>
  <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">학습자료 공유</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Quiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">QnA</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--    <h1>{{ question.subject }}</h1>-->
<!--<div>-->
<!--    {{ question.content }}-->
<!--</div>-->
<!--<form action="{% url 'pybo:answer_create' question.id %}" method="post">-->
<!--{% csrf_token %}-->
<!--<textarea name="content" id="content" rows="15"></textarea>-->
<!--<input type="submit" value="답변등록">-->
<!--</form>-->
<!--{% for p in posts %}-->
<!--  <h3>{{p}}</h3>-->
<!--{% endfor %}-->

</body>
</html>