<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Mate - 학습자료 공유</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendors/toastify/toastify.css' %}">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>

    <link rel="stylesheet" href="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/app.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.svg' %}" type="image/x-icon">
</head>

<body>
    <div id="app">
        {% include 'dailyclass_sidebar.html' %}
        <div id="main" class="layout-navbar">
            <header class="mb-3">
                {% include 'dailyclass_navbar.html' %}
            </header>
            <div id="main-content">

                <div class="page-heading">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-12 col-md-6 order-md-1 order-last">
                                <h3>학습자료 공유</h3>
                                <p class="text-subtitle text-muted">수업에 필요한 학습자료를 공유하는 공간입니다.</p>
                            </div>
                            <div class="col-12 col-md-6 order-md-2 order-first">
                                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Main</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">학습자료 공유</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <!-- Basic File Browser start -->
                    <section id="input-file-browser">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">파일 업로드</h4>
                                    </div>

                                <div class="card-body">
                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}

                                        <div class="form-group mb-3">
                                            <label for="exampleFormControlTextarea1" class="form-label">업로드 할 학습자료에 대해 설명해주세요.</label>
                                            <textarea class="form-control" name="comment" id="exampleFormControlTextarea1" rows="2"></textarea>
                                        </div>

    <!--                                        &lt;!&ndash; Basic file uploader &ndash;&gt;-->
    <!--                                        <input type="file" name="uploaded_file" class="basic-filepond">-->
    <!--                                        <button class="btn btn-primary" type="submit" id="inputGroupFileAddon04">Upload</button>-->


                                            <div class="col-md-6 mb-1">
                                                <fieldset>
                                                    <div class="input-group">
                                                        <input type="file" class="form-control" name="uploaded_file" id="inputGroupFile04"
                                                            aria-describedby="inputGroupFileAddon04"
                                                            aria-label="Upload">
                                                        <button class="btn btn-primary" type="submit"
                                                            id="inputGroupFileAddon04">Upload</button>
                                                    </div>
                                                </fieldset>
                                            </div>


                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Basic File Browser end -->

                    <!-- Uploaded Files Area start -->
                    <div class="page-heading">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-12 col-md-6 order-md-1 order-last">
                                <h3>업로드 된 파일</h3>
                            </div>
                        </div>
                    </div>
                    <!-- Basic card section start -->
                    <section id="uploaded-files">
                        <div class="row">
                            {% for file in file_list %}
                            <div class="col-xl-4 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <h4 class="card-title">{{file.get_filename}}</h4>
                                            <p class="card-text">
                                                {{file.comment}}
                                            </p>
                                        </div>
                                        <img class="img-fluid w-100" src="{% static 'images/ppt.jpg' %}"
                                            alt="Card image cap">
                                    </div>
                                    <div class="card-footer d-flex justify-content-between">
                                        <span><i class="bi bi-person"></i> {{file.user_id}}</span>

<!--                                        action="{% url 'dailyclass:download' file_id=file.id %}"-->
<!--                                        <form method="post" id="file_download_delete_form">-->
<!--                                            {% csrf_token %}-->
<!--                                            <input type="hidden" id="file_id" value="{{file.id}}">-->
<!--                                            <button class="btn btn-light-primary" type="submit" onclick="downloadOrDeleteFile('download')" id="download">다운로드</button>-->
<!--                                            <button class="btn btn-light-primary" type="submit" onclick="downloadOrDeleteFile('delete')" id="delete">삭제</button>-->
<!--                                        </form>-->

                                        <form action="{% url 'dailyclass:download' file_id=file.id %}">
                                            <button class="btn btn-light-primary" type="submit">다운로드</button>
                                        </form>

                                        {% if user == file.user_id %}
                                        <form action="{% url 'dailyclass:delete' file_id=file.id %}">
                                            <button class="btn btn-light-primary" type="submit">삭제</button>
                                        </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </section>
                    <!-- Basic Card types section end -->

                    </div>
                    <!-- Uploaded Files Area end -->
                </div>

                <footer>
                    <div class="footer clearfix mb-0 text-muted">
                        <div class="float-start">
                            <p>2021 &copy; Mazer</p>
                        </div>
                        <div class="float-end">
                            <p>여러분의 수업에 <a href="#">Learning Mate</a>가 함께합니다!</p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>


    <script>
        let file_id = document.getElementById("file_id")
        let form = document.getElementById("file_download_delete_form")
        console.log(file_id.value)

        function downloadOrDeleteFile(mode) {
            if (mode == "download") {
                form.action = "":
                console.log("download!");
            } else {
                form.action = "";
                console.log("delete!!!");
            }
            form.submit();
        }

    </script>

    <script src="{% static 'assets/js/main.js' %}"></script>

    <script src="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>

    <!-- filepond validation -->
    <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>

    <!-- image editor -->
    <script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-filter/dist/filepond-plugin-image-filter.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>

    <!-- toastify -->
    <script src="{% static 'assets/vendors/toastify/toastify.js' %}"></script>

    <!-- filepond -->
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script>
        // register desired plugins...
        FilePond.registerPlugin(
            // validates the size of the file...
            FilePondPluginFileValidateSize,
            // validates the file type...
            FilePondPluginFileValidateType,

            // calculates & dds cropping info based on the input image dimensions and the set crop ratio...
            FilePondPluginImageCrop,
            // preview the image file type...
            FilePondPluginImagePreview,
            // filter the image file
            FilePondPluginImageFilter,
            // corrects mobile image orientation...
            FilePondPluginImageExifOrientation,
            // calculates & adds resize information...
            FilePondPluginImageResize,
        );

        // Filepond: Basic
        FilePond.create( document.querySelector('.basic-filepond'), {
            allowImagePreview: false,
            allowMultiple: false,
            allowFileEncode: false,
            required: false
        });

    </script>

    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>
