{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="app">
    {% include "community_sidebar.html" %}
    <div id="main" class='layout-navbar'>
        <header class='mb-3'>
            {% include 'community_navbar.html' %}
        </header>
        <div id="main-content">
            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>정보공유</h3>

                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Community</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">정보공유</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <section class="section">
                    <div class="card">

                        <div class="card-body">
                            <div class="row my-3">
                                <div class="col-6">
                                </div>
                                <div class="col-6">
                                    <div class="input-group">
                                        <input type="text" id="search_kw" class="form-control" value="{{ kw|default_if_none:'' }}">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped" id="table1">
                                <thead>
                                    <tr>
            <th class="text-center">번호</th>
            <th class="text-center" style="width:40%">제목</th>
            <th class="text-center">작성자</th>
            <th class="text-center">작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if question_list %}
        {% for question in question_list %}
        <tr class="text-center">
            <td>{{ forloop.counter }}</td>
            <td class="text-left">
                <a href="{% url 'community:information_detail' question.id %}">{{ question.subject }}</a>
                {% if question.answer_set.count > 0 %}
                <span class="text-danger small mx-2">{{ question.answer_set.count }}</span>
                {% endif %}
            </td>
            <td>{{ question.user }}</td>
            <td>{{ question.create_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if question_list.has_previous %}
        <li class="page-item">
            <a class="page-link" data-page="{{ question_list.previous_page_number }}"
                href="javascript:void(0)">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in question_list.paginator.page_range %}
        {% if page_number >= question_list.number|add:-2 and page_number <= question_list.number|add:2 %}
        {% if page_number == question_list.number %}
        <li class="page-item active" aria-current="page">
             <a class="page-link" data-page="{{ page_number }}"
                href="javascript:void(0)">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
             <a class="page-link" data-page="{{ page_number }}"
                href="javascript:void(0)">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if question_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ question_list.next_page_number }}"
                href="javascript:void(0)">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    <a href="{% url 'community:information_create' %}" class="btn btn-primary">글쓰기</a>
<footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2022 &copy; Mazer</p>
                    </div>
                    <div class="float-end">
                        <p>여러분의 수업에 <a href="#">Learning Mate</a>가 함께합니다!</p>
                    </div>
                </div>
     </footer>
 <script src="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
 <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

 <script src="{% static 'assets/vendors/quill/quill.core.js' %}"></script>
 <script src="{% static 'assets/vendors/quill/quill.min.js' %}"></script>
 <script src="{% static 'assets/js/pages/form-editor.js' %}"></script>

 <script src="{% static 'assets/js/main.js' %}"></script>

</div>
<form id="searchForm" method="get" action="{% url 'community:information' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>
{% endblock %}
{% block script %}
<script type='text/javascript'>
const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});
const btn_search = document.getElementById("btn_search");
btn_search.addEventListener('click', function() {
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('page').value = 1;  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
    document.getElementById('searchForm').submit();
});
</script>
{% endblock %}