{% extends 'base.html' %}
{% block content %}

<style>
            html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            }

            .center-outer {
            display: table;
            width: 100%;
            height: 100%;
            }

            .center-inner {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            }

            /* Essential CSS - Makes the effect work */

            body {
            background-color: #F2F7FF;
            }

            .bubbles {
            display: inline-block;
            font-family: arial;
            position: relative;
            }

            .bubbles h1 {
            position: relative;
            margin: 1em 0 0;
            font-family: 'Kirang Haerang', cursive; 'Luckiest Guy', cursive;
            color: darkblue;
            z-index: 2;
            font-size: 80px;
            font-weight: bold;
            }

            .individual-bubble {
            position: absolute;
            border-radius: 100%;
            bottom: -20px;
            background-color: darkblue;
            z-index: 1;

            }


    </style>
<!-- 답변 수정-->
<div class="container my-3">
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="content" class="form-label">답변내용</label>
            <textarea class="form-control" name="content" id="content"
                      rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="{% static 'lmate.js' %}"></script>
        <footer>
            <div class="center-outer">
                <div class="center-inner">

                    <div class="bubbles">
                        <a href="/dailyclass"><h1>Learning Mate</h1>
                    </div>

                </div>
            </div>
        </footer>
{% endblock %}