<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>질문있어요! - 질문 작성 페이지</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendors/quill/quill.bubble.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/quill/quill.snow.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/app.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.svg' %}" type="image/x-icon">

</head>

<body>
    <div id="app">
        {% include 'dailyclass_sidebar.html' %}
        <div id="main" class='layout-navbar'>
            <header class='mb-3'>
                {% include 'dailyclass_navbar.html' %}
            </header>
            <div id="main-content">

                <div class="page-heading">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-12 col-md-6 order-md-1 order-last">
                                <h3>질문있어요!</h3>
                                <p class="text-subtitle text-muted">자유롭게 질문과 답변을 남겨주세요</p>
                            </div>
                            <div class="col-12 col-md-6 order-md-2 order-first">
                                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'dailyclass:classmaterial' %}">오늘의 클래스</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">질문있어요!</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <section class="section">
                    <div class="card">

                        <div class="card-body">
                                <form class="form form-vertical" method="POST">
                                        <div class="row">
                                            {% csrf_token %}
                                            {{form.media}}
                                            {{form.as_p}}
                                            <div class="col-sm-12 d-flex justify-content-end">
                                                <button type="submit"
                                                    class="btn btn-primary me-1 mb-1">질문 등록</button>
                                                <button type="reset"
                                                    class="btn btn-light-secondary me-1 mb-1">작성 취소</button>
                                            </div>
                                        </div>
                                </form>
                        </div>
                    </div>
                </section>
                </div>

                <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2021 &copy; Mazer</p>
                    </div>
                    <div class="float-end">
                        <p>여러분의 수업에 <a href="#">Learning Mate</a>가 함께합니다!</p>
                    </div>
                </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'assets/vendors/quill/quill.core.js' %}"></script>
    <script src="{% static 'assets/vendors/quill/quill.min.js' %}"></script>
    <script src="{% static 'assets/js/pages/form-editor.js' %}"></script>

    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>