{% load static %}
<style>
    footer.lmate{
    display:block;
    margin:auto;
    position:relative;
    top:30px;
    right:20%;
    left:15%;
    }
</style>

<div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <a href="/dailyclass"><img class="logo_img" style="transform:scale(2.3); display:block; margin:auto;" src="{% static 'images/our_logo.png' %}" alt="Logo"></a>
            <div class="d-flex justify-content-between">
                <div class="toggler">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">Menu</li>

                <li class="sidebar-item  ">
                    <a href="/dailyclass/classmaterial" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>학습자료 공유</span>
                    </a>
                </li>

                <li class="sidebar-item  ">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>Quiz</span>
                    </a>
                </li>

                <li class="sidebar-item  ">
                    <a href="{% url 'dailyclass:question_list' %}" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>질문있어요!</span>
                    </a>
                </li>

            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        <footer class="lmate"><img src= "{% static '/virtual-class.png' %}" style="width: 200px; min-width: 200px;"  ></footer>
    </div>
</div>